

body::-webkit-scrollbar-track {
  background-color: #11263d;
}
.backimage {
  position: absolute;
  align-items: center;
  width: 95rem;
  height: 90rem;
  background-image: url("./Svg/24.jpg"); 
  background-size: cover;
 background-position: center;
  filter: blur(20px); 
  z-index: -1; 
  border: none;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background:linear-gradient(
    #11263d,
    #004b67,
    #007487,
    #009f98,
    #53c89b
  );
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
 
  background-color: #11263d;
}
h2{
  text-align: center;
 
}
 
.form-container {
  padding: 10px;
   background: rgba(0, 255, 157, 0.292);
  box-shadow: 10 8px 32px 0 rgba(0, 0, 0, 0.703);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.18);
    max-width: 570px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; 
    margin-top: 50px;
    margin-bottom: 50px;
}
textarea,
select {
  width: 100px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #fbfbfb;
  color: #000000;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
button {
  background-color: #53c89b;
  color: #11263d;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
  text-decoration: double;
  align-items: center;
  margin-left: 200px;
}
button:hover{
  background-color:  #11263d;
  color: #53c89b;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
  text-decoration: double;
  align-items: center;
  margin-left: 200px;
}
label{
  color: rgb(11, 9, 9);
  font-size: 15px;
  font-weight:normal;
}
#doctorCategory{
  color:  #11263d;
  font-size: 17px;
  font-weight:normal;
  border-radius: 700px;
}
#fullName,
#email ,
#dob ,
#address, 
#aadharCardNo, 
#phoneNo,
#doctorCategory,
#symptoms {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  background-color: #11263d;
  color:  #53c89b;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
}


